<main class="devices">
  <nav class="device__selection">
    <ul>
      <li class="device__keurig device-selected">
        <a href="/device">
          <%= image_tag("illustrations/ill-keurig.svg") %>
          <h2>Keurig</h2>
        </a>
      </li>

      <li class="device__coffee-maker">
        <a href="/device-coffee-maker">
          <%= image_tag("illustrations/ill-coffee-maker.svg") %>
          <h2>Coffee Maker</h2>
        </a>
      </li>

      <li class="device__french-roast">
        <a href="/device-french-roast">
          <%= image_tag("illustrations/ill-french-roast.svg") %>
          <h2>French Roast</h2>
        </a>
      </li>
    </ul>
  </nav>

  <section class="device__problems">
    <ul>
      <li>
        <article>
          <header>
            <h3>Lukewarm coffee chills my soul</h3>
            <button aria-controls="problem-solution-1" aria-expanded="false">
            <span class="screen-reader-only">Expand</span>
            </button>
          </header>

          <div class="problem__solutions" id="problem-solution-1">
          <%= render 'shared/svg/device-flow/ill-cleaning-keurig.html' %>
            <p>Text here</p>
          </div>
        </article>
      </li>

      <li>
        <article>
          <header>
            <h3>Lukewarm coffee chills my soul</h3>
            <button aria-controls="problem-solution-1" aria-expanded="false">
            <span class="screen-reader-only">Expand</span>
            </button>
          </header>

          <div class="problem__solutions" id="problem-solution-1">
          <%= render 'shared/svg/device-flow/ill-cleaning-keurig.html' %>
            <p>Text here</p>
          </div>
        </article>
      </li>

      <li>
        <article>
          <header>
            <h3>Lukewarm coffee chills my soul</h3>
            <button aria-controls="problem-solution-1" aria-expanded="false">
            <span class="screen-reader-only">Expand</span>
            </button>
          </header>

          <div class="problem__solutions" id="problem-solution-1">
          <%= render 'shared/svg/device-flow/ill-cleaning-keurig.html' %>
            <p>Text here</p>
          </div>
        </article>
      </li>

      <li>
        <article>
          <header>
            <h3>Lukewarm coffee chills my soul</h3>
            <button aria-controls="problem-solution-1" aria-expanded="false">
            <span class="screen-reader-only">Expand</span>
            </button>
          </header>

          <div class="problem__solutions" id="problem-solution-1">
          <%= render 'shared/svg/device-flow/ill-cleaning-keurig.html' %>
            <p>Text here</p>
          </div>
        </article>
      </li>

      <li>
        <article>
          <header>
            <h3>Lukewarm coffee chills my soul</h3>
            <button aria-controls="problem-solution-1" aria-expanded="false">
            <span class="screen-reader-only">Expand</span>
            </button>
          </header>

          <div class="problem__solutions" id="problem-solution-1">
          <%= render 'shared/svg/device-flow/ill-cleaning-keurig.html' %>
            <p>Text here</p>
          </div>
        </article>
      </li>
    </ul>
  </section>
</main>
