<%= render 'shared/partials/nav-global.html' %>
<%= render 'shared/partials/header-global.html' %>

<main class="devices">
  <nav class="device__selection">
    <ul>
      <% devices.take(3).each do |device| %>
        <li class="device__<%= device.position %> <%= "device-selected -#{device.position}" if device.position == 1 %>">
          <a>
            <%= image_tag device.image.url, alt: "" %>
            <h2><%= device.name %></h2>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>

  <% devices.take(3).each do |device| %>
    <%= render partial: 'shared/partials/device_problems', locals: { device: device } %>
  <% end %>

</main>
