<% device_problem_count = device.device_problems.count %>
<% if device_problem_count > 1 %>
  <section class="device__problems device-<%= device.position %>__problems two-column <%= "-inactive" if device.position != 1 %>">
    <ul class="problem-columns">
      <% split = (device_problem_count.to_f / 2).ceil %>
      <% device.device_problems[0..(split-1)].each_with_index do |problem, problem_index| %>
        <li>
          <article>
            <header>
              <h3><%= problem.statement %></h3>
              <button aria-controls="problem-solution-<%= problem_index+1 %>" aria-expanded="false">
                <span class="-inactive-list-item">Expand</span>
                <%= image_tag 'icon-caret-hover.svg', alt: "" %>
              </button>
            </header>
            <div class="problem__solutions -inactive-list-item problem-solution-<%= problem_index+1 %>" id="problem-solution-<%= problem_index+1 %>">
              <%= render partial: 'shared/partials/device_problem', locals: { problem: problem } %>
            </div>
          </article>
        </li>
      <% end %>
    </ul>

    <ul class="problem-columns">
        <% device.device_problems[split..(device_problem_count-1)].each_with_index do |problem, problem_index| %>
        <li>
          <article>
            <header>
              <h3><%= problem.statement %></h3>
              <button aria-controls="problem-solution-<%= problem_index+1 %>" aria-expanded="false">
                <span class="-inactive-list-item">Expand</span>
                <%= image_tag 'icon-caret-hover.svg', alt: "" %>
              </button>
            </header>
            <div class="problem__solutions -inactive-list-item problem-solution-<%= problem_index+1 %>" id="problem-solution-<%= problem_index+1 %>">
              <%= render partial: 'shared/partials/device_problem', locals: { problem: problem } %>
            </div>
          </article>
        </li>
        <% end %>
    </ul>
  </section>
  <% else %>
  <section class="device__problems device-<%= device.position %>__problems <%= "-inactive" if device.position != 1 %>">
    <ul>
      <% device.device_problems.each_with_index do |problem, problem_index| %>
        <li>
          <article>
            <header>
              <h3><%= problem.statement %></h3>
              <button aria-controls="problem-solution-<%= problem_index+1 %>" aria-expanded="false">
                <span class="-inactive-list-item">Expand</span>
                <%= image_tag 'icon-caret-hover.svg', alt: "" %>
              </button>
            </header>
            <div class="problem__solutions -inactive-list-item problem-solution-<%= problem_index+1 %>" id="problem-solution-<%= problem_index+1 %>">
              <%= render partial: 'shared/partials/device_problem', locals: { problem: problem } %>
            </div>
          </article>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
