<!DOCTYPE html>
<html>
  <head>
    <title>GroundRules</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/partials/nav-global' %>
    <%= yield %>
    <%= render partial: 'shared/partials/footer-global' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
